.payment {
    position: relative;
    display: flex;
}

.input {
    position: relative;
    text-align: center;
}

.button {
    position: relative;
    left: 20%;
}
.navigation {
    position: relative;
    width: 800px;
    height: 100px;
}