.payment {
    position: relative;
    height: 2000px;
    width: 450px;
    left: 0%;
    top: 0%;
    padding-left: 125px;
}

.input {
    position: relative;
    width: 98%;
    height: 100px;
    padding-left: 20px;
}

.button {
    position: relative;
    width: 400px;
    height: 100px;
    padding-left: 10%;
}

.navigation {
    position: relative;
    width: 98%;
    height: 100px;
}

.main {
    position: relative;
    width: 800px;
    height: 400px;
}