.payment {
    position: relative;
    display: flex;
}

.input {
    position: relative;
    text-align: center;
    left: 10px;
}

.button {
    position: relative;
    left: 20%;
}
.navigation {
    position: relative;
}